<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Receta Recetas</title>
</head>
<body>
    <a href="/index.html">Inicio</a>
    <a href="receta.html">Volver</a>
    <div class='container'>
        <div class="row">
            <table class='table table-striped'>
                <thead class='table-dark'>
                    <tr>
                        <th class='text-center' scope='col'>ID</th>
                        <th class='text-center' scope='col'>Nombre receta</th>
                    </tr>
                </thead>
                <tbody id="listado">
                    
                    <tr key={receta.id_receta}>
                        <td class='text-center text-white'>{receta.id_receta}</td>
                        <td class='text-center text-white'>{receta.nombre_receta}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="../recetas/listado-receta.js"></script>
</html>